*{
    box-sizing: border-box;
}

body, html, p, h2, h4 {
    margin: 0;
    padding: 0;
}
body{
    background-color: #F5F5F5;
    font-family: 'Do Hyeon', sans-serif;
}
.bold{
    font-weight: bold;
}

/* HEADER */
.header{
    width: 700px;
    height: 100px;
    margin: 20px auto 20px auto;
    text-align: center;
}
.titre{
    font-size: 70px;
}
.ou{
    font-size: 100px;
}
.chrono{
    font-size: 140px;
}

/* BOARD */
.cont-board{
    display: flex;
    justify-content: space-between;
    width: 700px;
    height: 500px;
    margin: 2px auto 0 auto
}

/* BOARD - LEFT */
.card-left{
    overflow: hidden;
    background-color: rgb(218, 218, 218);
    width: 340px;
    height: 500px;
    border-radius: 6px;
    box-shadow: 0.3px 0.3px 0.3px 1px rgba(0, 0, 0, 0.2);
}
.card-top{
    width: 340px;
    height: 320px;
}
.card-top img{
    width: 340px;
    height: 320px;
}
.card-bot{
    padding-top: 10px;
    width: 340px;
    height: 185px;
    background-color: rgb(218, 218, 218);
}
.card-bot-p{
    margin: 10px 0 15px 20px;
}
.card-bot-p-left{
    margin: 20px 0  0 0;
    text-align: center;
}
.card-bot-p-left p{
    padding-bottom: 7px;
}
.titre-bot{
    text-align: center;
    font-size: 30px;
}
.start{
    margin: auto;
    width: 100px;
    height: 30px;
}
.start button{
    width: 100px;
    height: 30px;
    /* background-color: rgba(28, 38, 51, 0.374); */
    color: rgb(177, 184, 194);
    background-color: rgb(0, 0, 0);
    font-weight: bold;
    border: none;
    border-radius: 10px;
    transition: 0.4s;
}
.start button:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(194, 177, 177);
    cursor: pointer;
    transition: 0.4s;
}

/* BOARD - RIGHT */
.card-right{
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    width: 340px;
    height: 500px;
    border-radius: 6px;
    box-shadow: 0.3px 0.3px 0.3px 1px rgba(0, 0, 0, 0.2);
}
.indice{
    padding-top: 20px;
    text-align: center;
    font-size: 40px;
}
.champ{
    margin-top: 5px;
    text-align: center;
}
.champ input{
    overflow: hidden;
    width: 180px;
    height: 180px;
    background-color: rgb(218, 218, 218);
    border: 8px solid black;
    text-align: center;
    font-size: 90px;
}

.notif{
    margin-top: 15px;
    text-align: center;
}
.stat{
    background-color: rgba(28, 38, 51, 0.374);
}
.stat h4{
    margin-top: 20px;
    text-align: center;
    font-size: 40px;
}
.stat-p{
    margin: 15px 0 0 20px;
}



.gauge{
    background-color: rgb(193, 197, 199);
    position: absolute;
}
.position{
    margin-top: 85px;
    font-size: 100px;
    position: absolute;
    top: 0px;
    text-align: center;
    width:340px;
}
#rec{
    position :relative;
    animation: rec 60s infinite;
}





































