*{
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    text-align: center;
}

/* HEADER */
.header{

}
.titre{

}
.chrono{

}

/* BOARD */
.cont-board{

}

/* BOARD - LEFT */
.board-left{

}
.img{

}
.story{

}
.start{

}

/* BOARD - RIGHT */
.board-right{

}
.indice{

}
.champ{

}
.notif{

}
.stat{
    
}










































#paris{
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
}