*{
    padding: 0;
    margin: 0;
}
h1{
    text-align: center;
    padding-top: 20px;
}
canvas{
    background-color: #eee;
    display: block;
    margin: 30px auto 0 auto;
    width: 480;
    height: 320;
}

@media screen and (min-width: 800px){
    canvas{
        
    }
}