
@font-face {
    font-family: "police";
    src: url(brick.ttf);
}
  
*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #92573c;
    background-image: url("https://www.transparenttextures.com/patterns/brick-wall-dark.png");
}
.cont-titre{
    text-align: center;
    padding-top: 50px;
}
h1{
    
    font-family: "police";
    color: #c9be29;
    text-shadow: 1px 2px 1px rgba(43, 41, 41, 0.568);
    /* text-shadow: 0 1px 0 #ccc, 
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15); */
    font-size: 80px;
}
h3{
    font-family: "police";
    color: #c9be29;
    text-shadow: 1px 2px 1px rgba(43, 41, 41, 0.568);
    font-size: 60px;
}
h3:hover{
    cursor: pointer;
    text-shadow: 1px 2px 1px rgba(43, 41, 41);
}
.btn-play{
    
    text-align: center;
    margin-top: 20px;
    border-radius: 3px;
    
}
.btn-play:hover{
    
}
.cont-play{
    text-align: center;
    padding-top: 50px;
}

.btn-play button{

    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;

    background: transparent;
    background-color: #c9be29;
    
    padding: 15px 20px 15px 20px;
    
}
.can{

}
canvas{
    background-color: #eee;
    display: block;
    margin: 30px auto 0 auto;
    width: 480;
    height: 320;
    background-color: #92573c;
background-image: url("https://www.transparenttextures.com/patterns/brick-wall-dark.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
.btn-play{

}

@media screen and (min-width: 800px){
    canvas{
        
    }
}