/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
0.0 RESET
1.0 HEADER
2.0 SIDE MENU
3.0 MAIN
	3.1 board left
    3.2 board right
4.0 MEDIA QUERIES
--------------------------------------------------------------*/
.right1{
    /* display:  none; */
}
.right2{
    display:  none;
}
.chrono{
    
}
.right3{
    display:  none;
}
.perdu{
    color: rgb(232, 124, 91);
    text-shadow: 
    2px   0  0   rgb(133, 58, 36), /* couleur droite */
    -2px   0  0   rgb(133, 58, 36), /* couleur gauche */
    0    2px 0   rgb(133, 58, 36), /* couleur bas */
    0   -2px 0   rgb(133, 58, 36), /* couleur haut */
    1px  1px 0   rgb(133, 58, 36), 
    -1px -1px 0   rgb(133, 58, 36), 
    1px -1px 0   rgb(133, 58, 36), 
    -1px  1px 0   rgb(133, 58, 36),
    1px  3px 5px rgb(63, 46, 6);
}
.conseil{
    /* display: none; */
}
.msg-perdu{
    display: none;
}
.stop{
    /* display: none; */
}
.recommencer{
    display: none;
}
.tentative{
    margin-bottom: 45px;
}
.score{
    margin-top: 30px;
}
.principe{
    padding-top: 30px;
    font-size: 50px;
}
.logo{
    margin-top: 20px;
    margin-bottom: 30px;
}
/*--------------------------------------------------------------
0.0 RESET
--------------------------------------------------------------*/
body{

    background: #0b6e4fff;

    font-family: 'Luckiest Guy', cursive;
}

h1 {
    color: #e8de5bff;
    padding-top: 15px;
    padding-bottom: 30px; 
    font-size: 90px;
    text-shadow: 
        2px   0  0   #835f0bff, 
        -2px   0  0   #835f0bff, 
        0    2px 0   #835f0bff, 
        0   -2px 0   #835f0bff, 
        1px  1px 0   #835f0bff, 
        -1px -1px 0   #835f0bff, 
        1px -1px 0   #835f0bff, 
        -1px  1px 0   #835f0bff,
        1px  1px 5px #835f0bff;
	/* background-image: -webkit-linear-gradient(#ffffff,#9bc7e2);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	color: #fff; */

}

/* h1:after {
    text-align: center;
	background: none;
	content: attr(data-text);
	left: 0;
	position: absolute;
	text-shadow: 0 3px 0 rgba(0, 0, 0, .3);
	top: 0;
	z-index: -1;
} */
h2{
    color: #08a045ff;
    text-shadow: 
        2px   0  0   #835f0bff, 
        -2px   0  0   #835f0bff, 
        0    2px 0   #835f0bff, 
        0   -2px 0   #835f0bff, 
        1px  1px 0   #835f0bff, 
        -1px -1px 0   #835f0bff, 
        1px -1px 0   #835f0bff, 
        -1px  1px 0   #835f0bff,
        1px  1px 5px #835f0bff;
    margin-bottom: 15px; 
    margin-top: 30px;
    font-size: 70px;
}
h3{
    color: #08a045ff;
    text-shadow: 
        2px   2px  2px   #073b3aff, 
        -2px   2px  2px   #073b3aff, 
        0    2px 0   #073b3aff, 
        0   -2px 0   #073b3aff, 
        1px  1px 0   #073b3aff, 
        -1px -1px 0   #073b3aff, 
        1px -1px 0   #073b3aff, 
        -1px  1px 0   #073b3aff,
        1px  1px 5px rgb(7, 11, 247);
    margin-bottom: 15px; 
}
h4{
    color: #e8de5bff;
    text-shadow: 
        2px   0  0   #835f0bff, 
        -2px   0  0   #835f0bff, 
        0    2px 0   #835f0bff, 
        0   -2px 0   #835f0bff, 
        1px  1px 0   #835f0bff, 
        -1px -1px 0   #835f0bff, 
        1px -1px 0   #835f0bff, 
        -1px  1px 0   #835f0bff,
        1px  1px 5px #835f0bff;
    margin-bottom: 15px; 
}
p{
    font-family: 'Mali', cursive;
    font-weight: bold;
    color: #073b3aff;
    text-shadow: 1px 1px rgba(8, 160, 69, 0.637);
}
/*--------------------------------------------------------------
0.0 CUSTOM BOOTSTRAP
--------------------------------------------------------------*/
.container {
    text-align: center;
    width: 900px;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
}
table{
    margin: auto;
    border-collapse: separate;
    border-spacing: 10px;
}
.btn-color{
    color: #073b3aff;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #08a045ff;
    box-shadow: 
    2px   0  0   #073b3aff, 
    -2px   0  0   #073b3aff, 
    0    2px 0   #073b3aff, 
    0   -2px 0   #073b3aff, 
    1px  1px 0   #073b3aff, 
    -1px -1px 0   #073b3aff, 
    1px -1px 0   #073b3aff, 
    -1px  1px 0   #073b3aff,
    1px  1px 5px #073b3aff;
    font-weight: 900;

    transition: 0.2s;
}
.btn-color:hover{
    transition: 0.2s;
    transform: rotate(10deg);
    background-color: #5ec338ff;

}

/*--------------------------------------------------------------
0.0 CARTE
--------------------------------------------------------------*/
.carte1{
    background-color: #08a045ff;
    overflow: hidden;
    width: 85px;
    height: 85px;
    background-image: url('../img/back.png');
    background-position: center;
    background-repeat:no-repeat;
    background-size: 20px;
    border-radius: 10px;
    box-shadow: 
    2px   0  0   #073b3aff, 
    -2px   0  0   #073b3aff, 
    0    2px 0   #073b3aff, 
    0   -2px 0   #073b3aff, 
    1px  1px 0   #073b3aff, 
    -1px -1px 0   #073b3aff, 
    1px -1px 0   #073b3aff, 
    -1px  1px 0   #073b3aff,
    1px  1px 5px #073b3aff;
   1px  3px 5px rgb(63, 46, 6);
}
.carte1 img{
    width: 80px;
    padding: 0;
}

.carte1:hover{
    transition: 0.5s;
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
}
.couleur{
    width: 120px;
    height: 70px;
    background-color: rgb(253, 203, 37);
    box-shadow: 
    2px   0  0   #835f0bff, 
   -2px   0  0   #835f0bff, 
    0    2px 0   #835f0bff, 
    0   -2px 0   #835f0bff, 
    1px  1px 0   #835f0bff, 
   -1px -1px 0   #835f0bff, 
    1px -1px 0   #835f0bff, 
   -1px  1px 0   #835f0bff,
   1px  3px 5px rgb(63, 46, 6);
}
.carte2{
    overflow: hidden;
    width: 85px;
    height: 85px;
    background-color: #08a045ff;
    background-image: url('../img/back.png');
    background-position: center;
    background-repeat:no-repeat;
    background-size: 20px;
    border-radius: 10px;
    box-shadow: 
    2px   0  0   #073b3aff, 
    -2px   0  0   #073b3aff, 
    0    2px 0   #073b3aff, 
    0   -2px 0   #073b3aff, 
    1px  1px 0   #073b3aff, 
    -1px -1px 0   #073b3aff, 
    1px -1px 0   #073b3aff, 
    -1px  1px 0   #073b3aff,
    1px  1px 5px #073b3aff;
}
.carte2 img{
    width: 80px;
    padding: 0;
}

.carte2:hover{
    transition: 0.5s;
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
}
.carte3 {
    background-color: rgb(95, 175, 127);
    overflow: hidden;
    width: 85px;
    height: 85px;
    background-image: url('../img/back.png');
    background-position: center;
    background-repeat:no-repeat;
    background-size: 20px;
    border-radius: 10px;
    box-shadow: 
    2px   0  0   #073b3aff, 
    -2px   0  0   #073b3aff, 
    0    2px 0   #073b3aff, 
    0   -2px 0   #073b3aff, 
    1px  1px 0   #073b3aff, 
    -1px -1px 0   #073b3aff, 
    1px -1px 0   #073b3aff, 
    -1px  1px 0   #073b3aff,
    1px  1px 5px #073b3aff;
    transform: perspective(1px) translateZ(0);
    transition-duration: 0.3s;
    transition-property: transform;
  }
.carte3 img{
    width: 80px;
}
.carte3:hover {
    transform: rotate(-10deg);
    transform: scale(1.1) rotate(4deg);
  }
.carte img{
    width: 20px;
    padding: 0;
}



/*--------------------------------------------------------------
0.0 MEDIA Q
--------------------------------------------------------------*/
