/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
0.0 RESET
1.0 HEADER
2.0 SIDE MENU
3.0 MAIN
	3.1 board left
    3.2 board right
4.0 MEDIA QUERIES
--------------------------------------------------------------*/
/*--------------------------------------------------------------
0.0 RESET
--------------------------------------------------------------*/
body{
    background-color: rgb(199, 175, 120);
    font-family: 'Luckiest Guy', cursive;
}
h1{
    color: #e8de5bff;
    text-shadow: 
        2px   0  0   #835f0bff, 
        -2px   0  0   #835f0bff, 
        0    2px 0   #835f0bff, 
        0   -2px 0   #835f0bff, 
        1px  1px 0   #835f0bff, 
        -1px -1px 0   #835f0bff, 
        1px -1px 0   #835f0bff, 
        -1px  1px 0   #835f0bff,
        1px  1px 5px #835f0bff;
    padding-top: 20px;
    padding-bottom: 15px; 
}
h2{
    color: #e8de5bff;
    text-shadow: 
        2px   0  0   #835f0bff, 
        -2px   0  0   #835f0bff, 
        0    2px 0   #835f0bff, 
        0   -2px 0   #835f0bff, 
        1px  1px 0   #835f0bff, 
        -1px -1px 0   #835f0bff, 
        1px -1px 0   #835f0bff, 
        -1px  1px 0   #835f0bff,
        1px  1px 5px #835f0bff;
    margin-bottom: 15px; 
}
h3{
    color: #e8de5bff;
    text-shadow: 
        2px   0  0   #835f0bff, 
        -2px   0  0   #835f0bff, 
        0    2px 0   #835f0bff, 
        0   -2px 0   #835f0bff, 
        1px  1px 0   #835f0bff, 
        -1px -1px 0   #835f0bff, 
        1px -1px 0   #835f0bff, 
        -1px  1px 0   #835f0bff,
        1px  1px 5px #835f0bff;
    margin-bottom: 15px; 
}
h4{
    color: #e8de5bff;
    text-shadow: 
        2px   0  0   #835f0bff, 
        -2px   0  0   #835f0bff, 
        0    2px 0   #835f0bff, 
        0   -2px 0   #835f0bff, 
        1px  1px 0   #835f0bff, 
        -1px -1px 0   #835f0bff, 
        1px -1px 0   #835f0bff, 
        -1px  1px 0   #835f0bff,
        1px  1px 5px #835f0bff;
    margin-bottom: 15px; 
}
p{
    color: rgb(97, 70, 9);
}
/*--------------------------------------------------------------
0.0 CUSTOM BOOTSTRAP
--------------------------------------------------------------*/
.container {
    text-align: center;
    width: 900px;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
}
table{
    margin: auto;
    border-collapse: separate;
    border-spacing: 10px;
}
.btn-color{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #e8de5bff;
    box-shadow: 
        2px 0 0#835f0bff, 
        -2px 0 0 #835f0bff, 
        0 2px 0 #835f0bff, 
        0 -2px 0   #835f0bff, 
        1px  1px 0   #835f0bff, 
        -1px -1px 0   #835f0bff, 
        1px -1px 0   #835f0bff, 
        -1px  1px 0   #835f0bff,
        1px  1px 5px #835f0bff;
    color: #835f0bff;
    font-weight: 900;
    border: 1px solid #835f0bff;
}

/*--------------------------------------------------------------
0.0 CARTE
--------------------------------------------------------------*/
.carte{
    width: 85px;
    height: 85px;
    background-image: url("../img/carte.png");
    background-size: 100px;
    background-position: center; 
    border-radius: 10px;
    box-shadow: 
    2px   0  0   #835f0bff, 
   -2px   0  0   #835f0bff, 
    0    2px 0   #835f0bff, 
    0   -2px 0   #835f0bff, 
    1px  1px 0   #835f0bff, 
   -1px -1px 0   #835f0bff, 
    1px -1px 0   #835f0bff, 
   -1px  1px 0   #835f0bff,
    1px  1px 5px #835f0bff;
}
/*--------------------------------------------------------------
0.0 MEDIA Q
--------------------------------------------------------------*/
